/* Estilo geral da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Título */
h1 {
    color: #343a40;
    font-size: 2rem;
    margin-top: 30px;
    font-weight: 700;
}

/* Container das labels e do botão */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* Container para as labels com fundo cinza */
.label-container {
    background-color: #708090;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Labels */
label {
    display: block;
    font-size: 1rem;
    margin: 10px 0;
    color: #ffffff;
}

/* Inputs */
input[type="number"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: calc(100% - 120px); /* Ajusta a largura para caber no contêiner */
    margin-bottom: 10px;
}

/* Botão */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Container do resultado */
.resultado-container {
    background-color: #00FA9A;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/* Resultado */
#resultado {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}
